<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Portfolio Detail Page</title>
        <meta name="description" content="">
        <link rel="stylesheet" type="text/css" href='{% static "css/kidstyle.css" %}'/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="kidpic_container">
            <h2>{{ post.title }} by {{ post.portfolio }}</h2>
            <div class="art_container">

                    <img class="edit_btn" src="{{ post.image.url }}"/>

            </div>
            <p class="caption">{{ post.caption }}</p>
        </div>

    </body>
</html>