{% extends "kidfolio/base.html" %}
{% block content%}


    <div class="detail_view w3-center">
        <form action="" method="post">
            {% csrf_token %}
            <h3>
                <input type="text" class="title-text" name="title"
                       value="{{post.title}}" />
            </h3>
                <img class="detail_pic pic" src="{{ post.image.url }}" alt="Card image cap">


            <p>
                <input type="text" class="caption-text" name="caption"
                    value = "{{post.caption}}" />

            </p>

            <button type="submit" class="save btn btn-default">save</button>
        </form>
    </div>




{% endblock %}