{% extends 'kidfolio/base.html' %}
{% block content%}

<div class="container">
    <div class="jumbotron">
    <form class="post-form" action="{% url 'kidfolio:publish_new_kidpost' %}" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <div class="title">
                <h3>Art Title:</h3>
                {{ form.title }}
            </div>

            <div class="image">
                <h3>Upload Image: </h3>
                {{ form.image }}
            </div>

            <div class="caption">
                <h3>Creation Notes: </h3>
                {{ form.caption }}
            </div>

            <div class="portfolio">
                <h3>Which Portfolio?:</h3>
                {{ form.portfolio }}
            </div>

            <div class="category">
                <h3>Category: </h3>
                {{ form.category }}
            </div>



            <button type="submit" class="save btn btn-default">Add</button>

        </form>


</div>

</div>

<script>
    var editor = new MediumEditor('.editable');
</script>



{% endblock %}

