
{% extends "kidfolio/base.html" %}
{% block content %}




        <div class="centerstage">

            <h1>Welcome!</h1>
            <h2>Here are your Portfolio's</h2>
            <a href="{% url 'kidfolio:new_kidpost' %}"><button class="make_entry">New KidPost</button></a>
            <a href="{% url 'kidfolio:new_portfolio' %}"><button class="make_entry">Make New Portfolio</button></a>

           <div>
               {% for portfolio in user.portfolio_set.all %}
               <h1>{{portfolio.portfolio_name}}</h1>

           </div>



               {% for post in portfolio.kidpicpost_set.all %}
        <div class="kidpic_container">
            <div class="art_container">
                <a href="{% url 'kidfolio:get_kidpost' post.id %}">
                <img class="edit_btn" src="{{ post.image.url }}"/>
                </a>
            </div>

            <div>
                <h3>{{post.title}}</h3>
                <p>{{post.caption}}</p>
               {% endfor %}

            </div>


        </div>
            {% endfor %}

    </div>



{% endblock %}




