{% extends "kidfolio/base.html" %}
{% block content %}
<!--<div>-->
    <!--<button class="w3-button">Thumbnail</button>-->
<!--</div>-->

<div class="container slideshow">
    <h1 class="w3-center">{{portfolio.portfolio_name}}</h1>
    <button class="w3-button w3-white w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
    <button class="w3-button w3-white w3-display-right" onclick="plusDivs(1)">&#10095;</button>

    <div class="w3-content w3-display-container">

    {% for post in portfolio.kidpicpost_set.all %}
            <div class="mySlides overlay-box">
                <img class="portfolio_detail_pic" src="{{ post.image.url }}" style="width:100%">
                <div id="inner-box">
                    <h3 class="w3-center">{{ post.title }}</h3>
                    <p class="w3-center">{{ post.caption }}</p>
                    <figure class="pencil">
                        <a href="{% url 'kidfolio:get_kidpost' post.id %}"><span class="glyphicon glyphicon-pencil" id="pencil"></span></a>
                    </figure>
                </div>
            </div>
    {% endfor %}

    </div>

</div>

<div class="thumbnail-view" id="thumbnail-view">
    <div class="w3-content w3-display-container">

        <div class="thumbnail-grid">
            {% for post in portfolio.kidpicpost_set.all %}
            <a href="{% url 'kidfolio:get_kidpost' post.id %}">
            <img class="thumbnail-pic" src="{{ post.image.url }}">
            </a>
            {% endfor %}
        </div>

    </div>

</div>



# slideshow javascript from w3 schools.

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  x[slideIndex-1].style.display = "block";
}
</script>










{% endblock %}