
body {
    background-color: #666;
    box-sizing: content-box;
    max-width: 1600px;
    margin: 0 auto;

}
h1{
    color: rgba(255, 255, 102, .85);
}

.grid-box {
    /*background-color: rgba(255, 255, 102, .70);*/
    width: 1200px;
    height: 440px;
    margin: 0 auto;
    padding-bottom: 70px;

    display: grid;
    grid-template-rows: repeat(2, 200px);
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 20px;

}

#small_pic_box {
    display: block;
    position: relative;

}

#small_pic_box img {
    height: 100%;
    width: 100%;
}

#small_pic_box #inner-box {
  background: rgba(255, 255, 102, .85);
  border-bottom-right-radius: 50%;
  height: 100%;
  width: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  position: absolute;
  padding: 0;
  transition: opacity 1s;
}

#inner-box p {
  padding: 20px;
  color: #fff;
  font-size: 18px;
  text-align: center;
}

#small_pic_box:hover #inner-box {
  opacity:.8;
  transition: opacity 1s;
}

/*.small_pic_box {*/

    /*margin: 0;*/
    /*padding: 0;*/
    /*background-color: gold;*/
/*}*/

/*.pic:hover {*/
    /*border: 10px solid rgba(255, 255, 102, .85);*/

/*}*/



.kidpic {
    height: 100%;
    width: 100%;
    border-radius: 10px;

}

.detail_pic {
    height: auto;
    width: 75%;
    margin: auto;

}

.portfolio_detail_pic {
    height: auto;
    width: 75%;
    margin: auto;
}

.small_pic_box {
    margin: 0;
}


.techfont{
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.bigbrand {
    font-size: 3em;
}

