{% extends 'kidfolio/base.html' %}

{% block content %}


<div class="jumbotron">
    <h2>Login:</h2>
    <form class="login-form form" action="{% url 'kidfolio:login' %}" method="POST">
        {% csrf_token %}

        <input class="regis" type="text" name="username" id="username" placeholder="username"/><br>

        <input class="regis" type="password" name="password" id="password" placeholder="password"/><br>
        <input class="btn" type="submit" />
    </form>

</div>

<div class="jumbotron">
    <h2>Registration: </h2>
     <form class="registration-form form" action="{% url 'kidfolio:new_user' %}" method="POST">
        {% csrf_token %}

        <input class="regis" type="text" name="username" id="username" placeholder="username"/><br>


        <input class="regis" type="text" name="email" id="email" placeholder="email"/><br>


        <input class="regis" type="password" name="password" id="password" placeholder="password"/><br>


        <input class="regis" type="password" name="repeat" id="repeat_password" placeholder="repeat password"/><br>
        <input class="btn" type="submit" />
    </form>

</div>


{% endblock %}
